@import 'tailwindcss';

.nav-neon {
  color: #9ae7ff;
  text-shadow:
    0 0 2px #9ae7ff,
    0 0 8px #00ccff,
    0 0 12px #00ccff;
  transition:
    color 0.2s,
    text-shadow 0.1s;
}

.neon-border {
  box-shadow:
    0 0 5px #00ccff,
    0 0 12px #00ccff,
    0 0 24px #9ae7ff,
    0 0 44px #9ae7ff;
  border-color: #00ccff;
  transition: box-shadow 0.1s;
}

.neon-text {
  color: #d946ef;
  text-shadow:
    0 0 5px #d946ef,
    0 0 10px #d946ef,
    0 0 20px #d946ef;
}

.light-neon-text {
  color: #e499ff;
  text-shadow:
    0 0 3px #e499ff,
    0 0 12px #d946ef,
    0 0 18px #d946ef,
    0 0 24px #d946ef;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-neon:hover {
  color: #fff;
  /* text-shadow:
    0 0 10px #00ccff,
    0 0 20px #00ccff,
    0 0 40px #00ccff; */
}

.text-fworks-glow {
  color: #9ae7ff;
  text-shadow:
    0 0 3px #9ae7ff,
    0 0 12px #00ccff,
    0 0 18px #00ccff,
    0 0 24px #00ccff;
  animation: pulse-blue 3s ease-in-out infinite;
}

.text-tech-glow {
  color: #e499ff;
  text-shadow:
    0 0 3px #e499ff,
    0 0 12px #d946ef,
    0 0 18px #d946ef,
    0 0 24px #d946ef;
  animation: pulse-purple 3s ease-in-out infinite;
}

@keyframes pulse-blue {
  0%,
  100% {
    text-shadow:
      0 0 5px #9ae7ff,
      0 0 15px #00ccff,
      0 0 25px #00ccff,
      0 0 35px #00ccff;
  }

  50% {
    text-shadow:
      0 0 3px #9ae7ff,
      0 0 7px #00ccff,
      0 0 15px #00ccff,
      0 0 25px #00ccff;
  }
}

@keyframes pulse-purple {
  0%,
  100% {
    text-shadow:
      0 0 5px #e499ff,
      0 0 15px #d946ef,
      0 0 25px #d946ef,
      0 0 35px #d946ef;
  }

  50% {
    text-shadow:
      0 0 3px #e499ff,
      0 0 7px #d946ef,
      0 0 15px #d946ef,
      0 0 25px #d946ef;
  }
}
